<!-- Header Start -->
<header class="navigation">

  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg px-0 py-4">
            <a class="navbar-brand" href="index.html">
              Illumillion
            </a>
      
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
              aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
      
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item @@home">
                  <a class="nav-link" href="index.html">Insights</a>
                </li>
                
                <li class="nav-item @@service"><a class="nav-link" href="service.html">Capabilities</a></li>
                <li class="nav-item @@project"><a class="nav-link" href="#">Work</a></li>
                <li class="nav-item @@project"><a class="nav-link" href="blog-grid.html">Blogs</a></li>
                
                
                <li class="nav-item dropdown @@about">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About <i class="fas fa-chevron-down small"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item @@company" href="about.html">Our company</a></li>
                    <li><a class="dropdown-item @@pricing" href="pricing.html">Our Pricing</a></li>
                    <li><a class="dropdown-item @@pricing" href="#">Our Lab</a></li>
                  </ul>
                </li>
              </ul>
              
      
              <div class="my-2 my-md-0 ml-lg-4 text-center">
                <a href="contact.html" class="btn btn-solid-border btn-round-full">Contact</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Close -->